{% extends 'base.html' %}
{% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-4">Укорачиватель ссылок</h1>
    <form method="POST" action="" novalidate>
      {{ form.csrf_token }}
      <div class="mb-3">
        <label class="form-label">{{ form.original_url.label }}</label>
        {{ form.original_url(class="form-control", type="url") }}
      </div>
      {% for error in form.original_url.errors %}
        <div class="alert alert-danger" role="alert">
          <span>{{ error }}</span>
        </div>
      {% endfor %}
      {{ form.submit(class="btn btn-primary mb-3") }}
    </form>
  </div>
{% endblock %}